// fonts
@import url('/fonts/Raleway-Regular.css');

// variables
$font-fancy: Raleway-Regular;
$font-base: "Courier New", Courier, monospace;
$base-color: #fff;

// semi-sensible defaults
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $base-color;
}

body {
  font-size: 1.4rem;
  font-family: $font-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-fancy;
}

content {
  display: block;
  padding-top: 55px;
}

.side-bar {
    float: left;
    width: 350px;
    padding: 0 15px;
}
.user-card-container {
  height: 800px;
}