<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../css/vendor.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="/js/vendor.min.js"></script>

    <!-- head:js -->

    <!-- endinject -->
</head>
<body>
    <ui-view>
        Loading...
    </ui-view>
<!-- body:js -->

<!-- endinject -->
</body>
</html>